@import (reference) '../../../theme/index.less';

.@{swiper-prefix-cls} {
  --height: ~"var(--@{swiper-prefix-cls}-size-height-swiper)";
  --width: ~"var(--@{swiper-prefix-cls}-size-width-swiper)";
  --border-radius: ~"var(--@{swiper-prefix-cls}-border-radius-swiper)";
  --track-padding: ~"var(--@{swiper-prefix-cls}-space-padding-track-swiper)";

  --slide-size: 100%;
  --track-offset: 0%;

  display: block;
  width: var(--width);
  height: var(--height);
  position: relative;
  border-radius: var(--border-radius);
  z-index: 0;
  overflow: hidden;
  &-track {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    padding: var(--track-padding);
    &-allow-touch-move {
      cursor: grab;
    }
    &-inner {
      width: 100%;
      height: 100%;
      overflow: visible;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
    }
  }
}


.@{swiper-prefix-cls}-slide,
.@{swiper-prefix-cls}-slide-placeholder {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  white-space: unset;
  flex: none;
}

.@{swiper-prefix-cls}-item {
  display: block;
  width: 100%;
  height: 100%;
  white-space: normal;
}

.@{swiper-prefix-cls}-horizontal {
  .@{swiper-prefix-cls}-track-allow-touch-move {
    touch-action: pan-y;
  }
  .@{swiper-prefix-cls}-indicator {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
  }
  .@{swiper-prefix-cls}-track {
    transform: translateX(var(--track-offset));
    &-inner {
      flex-direction: row;
      width: var(--slide-size);
    }
  }
}
.@{swiper-prefix-cls}-vertical {
  .@{swiper-prefix-cls}-track-allow-touch-move {
    touch-action: pan-x;
  }
  .@{swiper-prefix-cls}-indicator {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
  .@{swiper-prefix-cls}-track {
    transform: translateY(var(--track-offset));
    &-inner {
      flex-direction: column;
      height: var(--slide-size);
    }
  }
}
