// The prefix to use on all css variables from tinper-m.
@mui-prefix: mui;
// 组件类名前缀
@prefix-cls: mui-;

// Accordion
@accordion-prefix-cls: mui-accordion;
// Action-sheet
@action-sheet-prefix-cls: mui-action-sheet;
// Avatar
@avatar-prefix-cls: mui-avatar;
// Button
@button-prefix-cls: mui-button;
// Badge
@badge-prefix-cls: mui-badge;
// Calendar
@calendar-prefix-cls: mui-calendar;
// Card-box
@card-box-prefix-cls: mui-card-box;
// Carousel
@carousel-prefix-cls: mui-carousel;
// Cascade-picker
@cascade-picker-prefix-cls: mui-cascade-picker;
// Cascade-view
@cascade-view-prefix-cls: mui-cascader-view;
// Cascade-picker-view
@cascade-picker-view-prefix-cls: mui-cascader-picker-view;
// Checkbox
@checkbox-prefix-cls: mui-checkbox;
// Config-provider
@config-provider-prefix-cls: mui-config-provider;
// datepicker
@datepicker-prefix-cls: mui-datepicker;
@datepicker-view-prefix-cls: mui-datepicker-view;
// Ellipsis
@ellipsis-prefix-cls: mui-ellipsis;
// picker
@picker-prefix-cls: mui-picker;
// picker-view
@picker-view-prefix-cls: mui-picker-view;
// date-time-picker
@date-time-picker-prefix-cls: mui-date-time-picker;
// time-picker
@time-picker-prefix-cls: mui-time-picker;
// Dialog
@dialog-prefix-cls: mui-dialog;
// Divider
@divider-prefix-cls: mui-divider;
// Ellipsis
@ellipsis-prefix-cls: mui-ellipsis;
// Empty
@empty-prefix-cls: mui-empty;
// flex
@flex-prefix-cls: mui-flex;
// Form-item-wrapper
@form-item-wrapper-prefix-cls: mui-form-item-wrapper;
// Hyperlinks
@hyperlinks-prefix-cls: mui-hyperlinks;
// Icon
@icon-prefix-cls: mui-icon;
// Image
@image-prefix-cls: mui-image;
// Image-viewer
@image-viewer-prefix-cls: mui-image-viewer;
// Image-uploader
@image-uploader-prefix-cls: mui-image-uploader;
// Infinite-scroll
@infinite-scroll-prefix-cls: mui-infinite-scroll;
// Input
@input-prefix-cls: mui-input;
// InputBase
@input-base-prefix-cls: mui-input-base;
// Input-number
@input-number-prefix-cls: mui-input-number;
// List
@list-prefix-cls: mui-list;
// Loading
@loading-prefix-cls: mui-loading;
// Modal
@modal-prefix-cls: mui-modal;
// Mask
@mask-prefix-cls: mui-mask;
// Navbar
@navbar-prefix-cls: mui-navbar;
// Notice
@notice-prefix-cls: mui-notice;
// Picker
@picker-prefix-cls: mui-picker;
// Popover
@popover-prefix-cls: mui-popover;
// Popup
@popup-prefix-cls: mui-popup;
// CenterPopup
@center-popup-prefix-cls: mui-center-popup;
// Progress-bar
@progress-bar-prefix-cls: mui-progress-bar;
// ProgressCircle
@progress-circle-prefix-cls: mui-progress-circle;
// PageIndicator
@page-indicator-prefix-cls:mui-page-indicator;
// Pull-to-refresh
@pull-to-refresh-prefix-cls: mui-pull-to-refresh;
// Radio
@radio-prefix-cls: mui-radio;
// Rate
@rate-prefix-cls: mui-rate;
// Result
@result-prefix-cls: mui-result;
// SafeArea
@safe-area-prefix-cls: mui-safe-area;
// SearchBar
@search-bar-prefix-cls: mui-search;
// Share-panel
@share-panel-prefix-cls: mui-share-panel;
// Skeleton
@skeleton-prefix-cls: mui-skeleton;
// Slider
@slider-prefix-cls: mui-slider;
// Space
@space-prefix-cls: mui-space;
// Stepper
@stepper-prefix-cls: mui-stepper;
// Steps
@steps-prefix-cls: mui-steps;
@step-prefix-cls: mui-step;
// Switch
@switch-prefix-cls: mui-switch;
// Swiper
@swiper-prefix-cls: mui-swiper;
// Tabs
@tabs-prefix-cls: mui-tabs;
// Tabbar
@tab-bar-prefix-cls: mui-tab-bar;
// Tab-panel
@tab-panel-prefix-cls: mui-tab-panel;
// Tag
@tag-prefix-cls: mui-tag;
// Table
@table-prefix-cls: mui-table;
// Textarea
@textarea-prefix-cls: mui-text-area;
// Timepicker
@timepicker-picker-prefix-cls: mui-timepicker;
// Time-range-picker
@time-range-picker-picker-prefix-cls: mui-time-range-picker;
// Tips
@tips-prefix-cls: mui-tips;
// Toast
@toast-prefix-cls: mui-toast;
// Toolbar
@toolbar-prefix-cls: mui-toolbar;
// SafeArea
@safearea-prefix-cls: mui-safe-area;
// Notice
@notice-prefix-cls: mui-notice;
// AutoCenter
@autocenter-prefix-cls: mui-auto-center;
@calendar-picker-view-prefix-cls: mui-calendar-picker-view;
// IndexBar
@index-bar-prefix-cls: mui-index-bar;
// SwipeAction
@swipe-action-prefix-cls: mui-swipe-action;

@checklist-prefix-cls: mui-check-list;
@checklist-item-prefix-cls: mui-check-list-item;
//WaterMark
@water-mark-prefix-cls: mui-water-mark;
//ErrorBlock
@error-block-prefix-cls: mui-error-block;
//Form
@form-prefix-cls: mui-form;
//FormItem
@form-item-prefix-cls: mui-form-item;
//Grid
@grid-prefix-cls: mui-grid;
//FloatingPanel
@floating-panel-prefix-cls: mui-floating-panel;
// Selector
@selector-prefix-cls: mui-selector;
// Dropdown
@dropdown-prefix-cls: mui-dropdown;
@dropdown-prefix-cls-item: mui-dropdown-item;
@stepper-prefix-cls: mui-stepper;
// Card
@card-prefix-cls: mui-card;
//FloatingBubble
@floating-bubble-prefix-cls: mui-floating-bubble;
//SideBar
@side-bar-prefix-cls: mui-side-bar;
//ErrorMessage
@error-message-prefix-cls: mui-error-message;
