:root {
  // Currently internal variables:
  --mui-radius-s: var(--ynfm-border-radius-small-global, 0.08rem);
  --mui-radius-m: var(--ynfm-border-radius-global, 0.16rem);
  --mui-radius-l: var(--ynfm-border-radius-big-global, 0.24rem);
  --mui-radius-full: var(--ynfm-border-radius-full-global, 999rem);
  

  --mui-font-size-1: var(--ynfm-font-size-1-global, 0.18rem);
  --mui-font-size-2: var(--ynfm-font-size-2-global, 0.2rem);
  --mui-font-size-3: var(--ynfm-font-size-3-global, 0.22rem);
  --mui-font-size-4: var(--ynfm-font-size-4-global, 0.24rem);
  --mui-font-size-5: var(--ynfm-font-size-5-global, 0.26rem);
  --mui-font-size-6: var(--ynfm-font-size-6-global, 0.28rem);
  --mui-font-size-7: var(--ynfm-font-size-7-global, 0.3rem);
  --mui-font-size-8: var(--ynfm-font-size-8-global, 0.32rem);
  --mui-font-size-9: var(--ynfm-font-size-9-global, 0.34rem);
  --mui-font-size-10: var(--ynfm-font-size-10-global, 0.36rem);
  
  --mui-color-primary: var(--ynfm-color-primary-global, #ee2233);
  --mui-color-success: var(--ynfm-color-success-global, #299E46);
  --mui-color-warning: var(--ynfm-color-warning-global, #E68600);
  --mui-color-danger: var(--ynfm-color-danger-global, #F50C00);
  --mui-color-info: var(--ynfm-color-info-global, #006FE6);

  --mui-color-text: var(--ynfm-color-text-level2-global, #404040);
  --mui-color-title-text: var(--ynfm-color-text-level1-global, #171717);;
  --mui-color-text-secondary: var(--ynfm-color-text-level3-global, #737373);
  --mui-color-weak: var(--ynfm-color-text-level4-global, #BFBFBF);
  --mui-color-light: var(--ynfm-color-line-level2-global, #E5E5E5);;
  --mui-color-border: var(--ynfm-color-line-level1-global, #F5F5F5);

  --mui-color-background-lower: var(--ynfm-color-bg-level1-global, #F5F5F5);
  --mui-color-background: var(--ynfm-color-bg-level2-global, #FFFFFF);
  --mui-color-background-higher: var(--ynfm-color-bg-level3-global, #FFFFFF);

  --mui-color-highlight: var(--mui-color-danger);

  --mui-color-white: var(--ynfm-color-text-inverse-global, #ffffff);
  --mui-color-icon-functionicon: var(--ynfm-color-icon-functionicon, #475569);
  --mui-color-text-link: var(--ynfm-color-text-link, #006FE6);

  --mui-color-bg-item-selected: var(--ynfm-color-bg-item-selected, #FFE7E8);
  --mui-color-text-item-selected: var(--ynfm-color-text-item-selected, #EE2233);

  --mui-color-fill-content: var(--mui-color-border);

  --mui-font-size-main: var(--mui-font-size-5);

  --mui-font-family: var(--ynfw-font-family-tmf, system-ui, -apple-system, BlinkMacSystemFont);
  // The variables below are deprecated and only exist for backward compatibility:
  --mui-border-color: var(--mui-color-border);
  --mui-slider-tick-mask: rgba(255, 255, 255, .6);
  --ynfm-color-bg-textarea: #ffffff;
  --mui-color-primary-text: #EE2233;
}
