.demo-swiper-content {
  height: 2.88rem;
  opacity: 0.5;
  font-weight: 600;
  font-size: 0.96rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.96rem;
  user-select: none;
  &-vertical{
    height: 100%;
  }
}

.customIndicator {
  position: absolute;
  top: 0.12rem;
  right: 0.12rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.08rem 0.12rem;
  color: #ffffff;
  border-radius: 0.08rem;
  user-select: none;
}

.contentFull {
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.96rem;
  user-select: none;
}
