@import (reference) '../../../theme/index.less';

.@{infinite-scroll-prefix-cls} {
  padding: 0.36rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.24rem;
  color: #888888;

  &-failed-text {
    display: inline-block;
    margin-right: 0.16rem;
  }

  &-failed-retry {
    display: inline-block;
    color: var(--mui-color-info);
  }
}
