.cardFooter2 {
  .mui-toolbar-wrapper {
    height: unset;
    padding: unset;
  }
}

.cardExtra2 {
  color: #005CF4;
  font-size: 0.28rem;
}

.cardHeader2 {
  padding-bottom: 0;
  border-bottom: 0 !important;
}

.cardBody2 {
  padding-top: 0;
}

.cardBodyContent2 {
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
}

.cardBodyItem {
  display: flex;
  align-items: center;
  padding: 0.04rem 0;
  &-title {
    color: #888888;
    font-size: 0.28rem;
    padding-right: 0.16rem;
  }
  &-desc {
    color: var(--mui-color-title-text);
    font-size: 0.28rem;
  }
}
