.cardContent {
  height: 1rem;
}

.cardFooter {
  padding-top: 0.22rem;
  border-top: 1px solid var(--mui-color-border);
  display: flex;
  justify-content: flex-end;
}

.customBody {
  color: var(--mui-color-success);
}
