.demo-radio-tag{
  .mui-radio-control-items{
    column-gap: 0.16rem;
    row-gap: 0.16rem;
    padding: unset;
  }
  .mui-radio-control-tag{
    margin: 0;
    width: 2.18rem;
    height: 0.56rem;
    border-radius: 0.08rem;
  }
}
