@import "../../wui-core/scss/minxin-variables";

//$svg-prefix-cls: $prefix-cls + 'svgicon';

.#{$svg-prefix-cls} {
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
