.switch-demos {
  .title {
    font-size: 14px;
    font-weight: 400;
    color: #7D888D;
    padding: 12px 16px;
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: var(--mui-color-background);
    margin-bottom: 12px;

    .label {
      font-size: 14px;
      font-weight: 400;
      color: var(--mui-color-title-text);
    }
  }
}

