@import (reference) '../../../theme/index.less';

@hd: 0.02rem;

.@{icon-prefix-cls} {
  // xxs和xs暂时保留，不对外暴露
  &-xxs {
    fill: currentColor;
    width: 0.12rem;
    height: 0.12rem;
  }

  &-xs {
    fill: currentColor;
    width: 0.32rem;
    height: 0.32rem;
  }
  &-sm {
    fill: currentColor;
    width: 0.32rem;
    height: 0.32rem;
  }

  &-md {
    fill: currentColor;
    width: 0.48rem;
    height: 0.48rem;
  }

  &-lg {
    fill: currentColor;
    width: 0.64rem;
    height: 0.64rem;
  }
}
