 #docs-basic-components-time-range-picker-demo-demo.dumi-default-demo-layout {
   padding-left: 0;
   padding-right: 0;
 }

 #docs-basic-components-time-range-picker-demo-demo2.dumi-default-demo-layout {
   padding-left: 0;
   padding-right: 0;
 }

 #docs-basic-components-time-range-picker-demo-demo3.dumi-default-demo-layout {
   padding-left: 0;
   padding-right: 0;
 }

 .date-time-picker-demo {
   .item {
     background-color: var(--mui-color-background);
     padding-top: 6px;
     padding-bottom: 6px;
     padding-left: 0.25rem;
     padding-right: 0.25rem;
   }
 }