.box {
  background: #D8D8D8;
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  border-radius: 0.16rem;
  &.dark {
    background: #666666;
  }
}

.title {
  color: #7D888D;
  font-size: 0.28rem;
  padding: 0.32rem 12px
}

.wrapper {
  width: 100%;
  background: var(--mui-color-background);
  padding: 0.2rem;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
