.dialog-demo {
    .mui-button {
        margin-bottom: 0.24rem;
    }
    .last-button {
        margin-bottom: unset;
    }
}

.dialog-demo0-custom-0 {
    width: 2.96rem;
    border-width: 0;
    border-right: 1px solid #F4F4F4;
    border-radius: unset;
    font-size: 0.34rem;
    font-weight: 400;
    color: #555;
    line-height: 0.44rem;
}
.dialog-demo0-custom-1 {
    width: 2.96rem;
    border-radius: unset;
    border-width: 0;
    font-size: 0.34rem;
    font-weight: 400;
    color: #EE2223;
    line-height: 0.44rem;
}
.dialog-demo10-input {
    background: var(--mui-color-border);
    padding: 0.12rem 0.32rem 0.12rem 0.32rem;
}