.dropdown-demos {

  .mui-radio-checked,
  .mui-checkbox-checked {
    background-color: var(--mui-color-fill-content);
  }

  .mui-radio,
  .mui-checkbox {
    padding: 0.24rem 0.32rem;
  }

  .boundary {
    border-bottom-left-radius: var(--mui-popup-border-radius-top-popup);
    border-bottom-right-radius: var(--mui-popup-border-radius-top-popup);
  }

  .boundary-top {
    border-top-left-radius: var(--mui-popup-border-radius-bottom-popup);
    border-top-right-radius: var(--mui-popup-border-radius-bottom-popup);
  }

  .demo-item {
    background-color: var(--mui-color-background);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: .25rem;
    padding-right: .25rem;
  }
}


#docs-basic-components-dropdown-demo-demo1,
#docs-basic-components-dropdown-demo-demo2 {
  padding-left: 0;
  padding-right: 0;
}