.tabs-demo {
    .mui-tabs {
        background: var(--mui-color-background);
    }

    .tabs-border-demo {
        .mui-tabs-header {
            border-bottom: solid 0.02rem var(--mui-color-border);
        }
    }
}

.tabs-demo2 {
    .mui-swiper-slide {
        background-color: var(--mui-color-background);
        box-sizing: border-box;
        padding: 0.32rem;
    }

    .tabs-swiper-demos {
        height: 1.6rem;
        color: var(--mui-color-title-text);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.28rem;
        user-select: none;
        background: var(--mui-color-border);
    }

    .mui-tabs-header {
        border-bottom: solid 1px var(--mui-color-border);
    }

    .tabs-group-demo {
        .mui-tabs-header {
            padding-right: 0.68rem;
        }

        .mui-tabs-header-mask-right {
            right: 0.68rem;
            background: linear-gradient(to left,
                    var(--mui-color-background),
                    rgba(255, 255, 255, 0));
        }
    }

    .image-of-tabs-demo {
        position: absolute;
        top: 0.16rem;
        right: 0.24rem;
    }

    .tabs-inner-wrapper {
        background-color: var(--mui-color-background);
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0.32rem 0.32rem 0.08rem 0.32rem;
        position: absolute;
        top: 0.74rem;
    }

    .tabs-inner-button {
        width: calc((100% - 0.32rem) / 3);
        padding: 0.08rem 0.24rem;
        background: var(--mui-color-border);
        border-radius: 0.08rem;
        border-color: transparent;
        font-size: 0.24rem;
        line-height: 0.4rem;
        color: var(--mui-color-title-text);
        margin-bottom: 0.16rem;

        span {
            text-overflow: unset;
            white-space: unset;
        }
    }

    .tabs-inner-button-active {
        border: 1px solid var(--ynfm-color-border-tag-selector-selected, #EE2233);
        background: var(--ynfm-color-bg-tag-selector-selected, #FFE7E8);
        color: var(--mui-radio-color-text-tag-selector-selected);
    }
}

.tabs-demo3 {
    .tabs-anchor-tabsContainer {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .tabs-anchor-content {
        padding: 0.32rem;
        background-color: var(--mui-color-background);

        .bg {
            background: var(--mui-color-border);
            padding: 0.1rem;
            margin-bottom: 0.32rem;
        }
    }

    .mui-tabs-header {
        border-bottom: solid 1px var(--mui-color-border);
    }
}

.tabs-content-demo {
    background: var(--mui-color-border);
    height: 1.6rem;
    font-size: 0.28rem;
    color: var(--mui-color-title-text);
    line-height: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}