h3 {
  font-size: 0.28rem;
  color: #7D888D;
  padding-left: 0.24rem;
}

.demo_navbar_subtitle{
  display: flex;
  margin-top: 0.08rem;
  text-align: center;
  height: var(--subtitle-font-size);
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-font-size);
  max-width: 5.44rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toast_for_navbar_long_title{
  .mui-toast-main{
    width: 5.12rem;
    .mui-auto-center{
      max-width: unset;
    }
  }
}
