.mask-demo-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 2.52rem;
    margin-top: -1.26rem;
    margin-left: -2.8rem;
    background: white;
    border-radius: 0.16rem;
}