.config-demo {
    .demo-block {
        display: flex;
        align-items: center;
        gap: .5rem;
        background-color: var(--mui-color-background);
        padding-left: .25rem;
        padding-right: .25rem;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .demo-item {
        background-color: var(--mui-color-background);
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: .25rem;
        padding-right: .25rem;
    }
}