.selector-demo {
    .demo-item {
        background-color: var(--mui-color-background);
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: .25rem;
        padding-right: .25rem;
    }
}