.toolbar-demo {

    .toolbar-demo0 {
        padding-top: 0.2rem;
    }

    .toolbar-demo1 {
        padding-top: 0.2rem;
    }

    .toolbar-demo2 {
        padding-top: 0.2rem;
    }

    .toolbar-demo3 {
        padding-top: 0.4rem;

        .toolbar-demo3-div {
            cursor: pointer;
        }
    }
}