.radio-demos {
  .item {
    background-color: var(--mui-color-background);
    margin-bottom: 0.32rem;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: .25rem;
    padding-right: .25rem;
    // padding: .02rem .24rem;
    .label {
      font-size: 0.28rem;
      font-weight: 400;
      color: #111111;
    }
  }

  .radio-item {
    background-color: var(--mui-color-background);
    padding: 0.24rem 0.32rem;
    margin-bottom: 0.08rem;
  }

  .margin-0 {
    margin: 0;
  }

  .space-vertical {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.08rem;

    .mui-radio {
      background-color: var(--mui-color-background);
      padding: 0.24rem 0.32rem;
    }

    .mui-radio-checked {
      background-color: var(--mui-color-fill-content);
    }

    .mui-radio-disabled {
      background-color: var(--mui-color-background);
    }
  }

  .blockIndicator {
    background-color: rgba(216, 216, 216, 0.4);
    border-radius: 0.04rem;
  }

  .radio-tag-demo2 {
    background: var(--mui-color-background);
  }
}
