@import (reference) '../../../theme/index.less';

.@{grid-prefix-cls} {
  --gap: 0;
  --gap-horizontal: var(--gap, var(--ynfm-spacing-gap-horizontal-grid));
  --gap-vertical: var(--gap, var(--ynfm-spacing-gap-vertical-grid));

  display: grid;
  grid-gap: 10px;
  column-gap: var(--gap-horizontal);
  row-gap: var(--gap-vertical);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  box-sizing: border-box;
  align-items: stretch;
  &-item {
    grid-column-end: span var(--item-span);
  }
}
