html[data-prefers-color-scheme='dark'] {
  --mui-color-primary: var(--ynfm-color-primary-global, #ee2233);
  --mui-color-success: var(--ynfm-color-success-global, #299E46);
  --mui-color-warning: var(--ynfm-color-warning-global, #CC7700);
  --mui-color-danger: var(--ynfm-color-danger-global, #DB0B00);
  --mui-color-info: var(--ynfm-color-info-global, #007AFF);

  --mui-color-text: var(--ynfm-color-text-level2-global, #B6B6B6);
  --mui-color-title-text: var(--ynfm-color-text-level1-global, #DEDEDE);
  --mui-color-text-secondary: var(--ynfm-color-text-level3-global, #868686);
  --mui-color-weak: var(--ynfm-color-text-level4-global, #666666);
  --mui-color-light: var(--ynfm-color-line-level2-global, #3B3C3F);
  --mui-color-border: var(--ynfm-color-line-level1-global, #212225);

  --mui-color-background-lower: var(--ynfm-color-bg-level1-global, #121518);
  --mui-color-background: var(--ynfm-color-bg-level2-global, #1B1D21);
  --mui-color-background-higher: var(--ynfm-color-bg-level3-global, #3B3C3F);

  --mui-color-bg-item-selected: var(--ynfm-color-bg-item-selected, #5F0003);
  --mui-color-text-item-selected: var(--ynfm-color-text-item-selected, #FFE7E8);

  --mui-color-highlight: var(--mui-color-danger);
  --mui-color-white: var(--ynfm-color-text-inverse-global, #ffffff);
  --mui-color-primary-text: #FFECEE;
  --mui-color-fill-content: var(--mui-color-border);
  --mui-border-color: var(--mui-color-border);
  --ynfm-color-icon-stroke-btn: #DEDEDE;
  --ynfm-color-icon-stroke-btn-pressed: #FAFAFA;
  --ynfm-color-icon-imageuploader: #94a3b8;
  --ynfm-color-bg-mask-imageuploader: #111111;
  --ynfm-color-text-stroke-btn-pressed: #FAFAFA;
  --ynfm-color-text-textbtn: #DEDEDE;
  --ynfm-color-icon-iconbtn: #FAFAFA;
  --ynfm-color-text-input: #dedede;
  --ynfm-color-bg-avatar: #5F0003;
  --ynfm-color-text-input-readonly: #dedede;
  --ynfm-color-text-cell-calendar: #DEDEDE;
  --ynfm-color-icon-clear-input: #666666;
  --ynfm-color-icon-input: #666666;
  --ynfm-color-divider-formitemwrapper: #212225;
  --ynfm-color-bg-formitemwrapper-disabled: #1B1D21;
  --ynfm-color-text-title-formitemwrapper-readonly: #B6B6B6;
  --ynfm-color-text-title-calendar: #DEDEDE;
  --ynfm-color-text-textbtn-navbar: #DEDEDE;
  --ynfm-color-icon-clear-textarea: #666666;
  --ynfm-color-bg-form: #1b1d21;
  --ynfm-color-text-title-navbar: #DEDEDE;
  --ynfm-color-icon-iconbtn-navbar: #DEDEDE;
  --ynfm-color-text-title-modal: #DEDEDE;
  --ynfm-color-text-content-dialog: #DEDEDE;
  --ynfm-color-text-title-dialog: #DEDEDE;
  --ynfm-color-text-list-cascaderview: #DEDEDE;
  --ynfm-color-text-tab-cascaderview: #DEDEDE;
  --ynfm-color-text-tab-cascaderview-selected: #DEDEDE;
  --ynfm-color-text-clearback-picker: #DB0B00;
  --ynfm-color-text-btn-searchbar: #DEDEDE;
  --ynfm-color-text-content-searchbar: #DEDEDE;
  --ynfm-color-text-selector: #DEDEDE;
  --ynfm-color-text-tag-selector: #DEDEDE;
  --ynfm-color-text-textarea: #dedede;
  --ynfm-color-text-textarea-readonly: #dedede;
  --ynfm-color-bg-title-indexbar: #121518;
  --ynfm-color-text-tab-selected: #DEDEDE;
  --ynfm-color-text-content-list: #DEDEDE;
  --ynfm-color-text-actionsheet: #dedede;
  --ynfm-color-text-dropdown: #dedede;
  --ynfm-color-text-tag-selector-selected: #FFE7E8;
  --ynfm-color-text-textbtn-pressed: #E5E5E5;
  --ynfm-color-icon-iconbtn-pressed: #E5E5E5;
  --ynfm-color-icon-empty: #E5E5E5;
  --ynfm-color-text-content-empty: #B6B6B6;
  --ynfm-color-text-secondarybtn-modal: #E5E5E5;
  --ynfm-color-text-primarybtn-dialog: #B6B6B6;
  --ynfm-color-text-marktext-slider: #B6B6B6;
  --ynfm-color-text-title-formitemwrapper: #B6B6B6;
  --ynfm-color-text-input-stepper: #B6B6B6;
  --ynfm-color-icon-left-button-stepper: #B6B6B6;
  --ynfm-color-icon-right-button-stepper: #B6B6B6;
  --ynfm-color-icon-stroke-btn-disabled: #A3A3A3;
  --ynfm-color-text-stroke-btn-disabled: #A3A3A3;
  --ynfm-color-text-input-disabled: #868686;
  --ynfm-color-text-hint-cell-calendar: #868686;
  --ynfm-color-text-subtitle-navbar: #B6B6B6;
  --ynfm-color-icon-closed-panel-modal: #94A3B8;
  --ynfm-color-text-list-cascaderview-disabled: #868686;
  --ynfm-color-text-selector-disabled: #868686;
  --ynfm-color-text-count-textarea: #868686;
  --ynfm-color-text-textarea-disabled: #868686;
  --ynfm-color-text-title-formitemwrapper-disabled: #868686;
  --ynfm-color-icon-item-tabbar: #868686;
  --ynfm-color-text-item-tabbar: #868686;
  --ynfm-color-text-describe-list: #868686;
  --ynfm-color-text-actionsheet-disable: #868686;
  --ynfm-color-text-placeholder-input: #666666;
  --ynfm-color-text-cell-calendar-disabled: #666666;
  --ynfm-color-text-magnitude-inputnumber: #94a3b8;
  --ynfm-color-bg-magnitude-inputnumber: #3b3c3f;
  --ynfm-color-text-weekmark-cell-calendar: #666666;
  --ynfm-color-icon-prefixicon-searchbar: #666666;
  --ynfm-color-text-placeholder-searchbar: #666666;
  --ynfm-color-border-selector: #3B3C3F;
  --ynfm-color-text-placeholder-textarea: #666666;
  --ynfm-color-border-stroke-btn-pressed: #525252;
  --ynfm-color-text-fill-btn-disabled: #262626;
  --ynfm-color-border-stroke-btn-disabled: #262626;
  --ynfm-color-bg-selector-selected-disabled: #212225;
  --ynfm-color-border-bottom-form: #212225;
  --ynfm-color-border-divider-form: #212225;
  --ynfm-color-border-top-form: #212225;
  --ynfm-color-border-cell-pickerview: #212225;
  --ynfm-color-border-weekmark-calendar: #212225;
  --ynfm-color-border-content-dialog: #212225;
  --ynfm-color-border-tab-cascaderview: #212225;
  --ynfm-color-border-input: #262626;
  --ynfm-color-bg-switch-closed-disabled: #262626;
  --ynfm-color-bg-tag-selector: #121518;
  --ynfm-color-bg-track-progressbar: #3B3C3F;
  --ynfm-color-bg-list-pressed: #1B1D21;
  --ynfm-color-border-bottom-list: #212225;
  --ynfm-color-border-items-list: #212225;
  --ynfm-color-bg-tag-selector-selected: #5F0003;
  --ynfm-color-border-top-list: #212225;
  --ynfm-color-border-divider-actionsheet: #212225;
  --ynfm-color-bg-input-stepper: #121518;
  --ynfm-color-bg-left-button-stepper: #121518;
  --ynfm-color-bg-right-button-stepper: #121518;
  --ynfm-color-bg-stroke-btn-pressed: #171717;
  --ynfm-color-bg-iconbtn-pressed: #171717;
  --ynfm-color-bg-gap-actionsheet: #121518;
  --ynfm-color-icon-fill-btn-disabled: #000000;
  --ynfm-color-icon-fill-btn-pressed: #000000;
  --ynfm-color-text-fill-btn-pressed: #000000;
  --ynfm-color-bg-stroke-btn-disabled: #000000;
  --ynfm-color-text-inverse-stroke-btn: #000000;
  --ynfm-color-bg-iconbtn: #000000;
  --ynfm-color-bg-actionsheet: #1B1D21;
  --ynfm-color-text-discribe-actionsheet: #B6B6B6;
  --ynfm-color-bg-iconbtn-disabled: #000000;
  --ynfm-color-icon-inverse-iconbtn: #000000;
  --ynfm-color-icon-fixedbtn: #000000;
  --ynfm-color-icon-fixedbtn-disabled: #000000;
  --ynfm-color-icon-fixedbtn-pressed: #000000;
  --ynfm-color-text-fixedbtn: #000000;
  --ynfm-color-text-fixedbtn-disabled: #000000;
  --ynfm-color-text-fixedbtn-pressed: #000000;
  --ynfm-color-bg-input-readonly: #1B1D21;
  --ynfm-color-bg-input-disabled: #1B1D21;
  --ynfm-color-text-cell-calendar-selected: #FFFFFF;
  --ynfm-color-text-title-dark-navbar: #000000;
  --ynfm-color-text-textbtn-dark-navbar: #000000;
  --ynfm-color-icon-iconbtn-dark-navbar: #000000;
  --ynfm-color-text-subtitle-dark-navbar: #000000;
  --ynfm-color-bg-navbar: #1B1D21;
  --ynfm-color-bg-modal: #1b1d21;
  --ynfm-color-border-selector-disabled: #3B3C3F;
  --ynfm-color-bg-secondarybtn-modal: #000000;
  --ynfm-color-bg-input-timerangepicker: #121518;
  --ynfm-color-bg-input-timerangepicker-selected: #5F0003;
  --ynfm-color-text-input-timerangepicker: #DEDEDE;
  --ynfm-color-text-input-timerangepicker-selected: #FFE7E8;
  --ynfm-color-text-primarybtn-modal: #000000;
  --ynfm-color-icon-imageviewer: #000000;
  --ynfm-color-text-indicator-imageviewer: #000000;
  --ynfm-color-bg-dialog: #1B1D21;
  --ynfm-color-bg-toolbar: #1B1D21;
  --ynfm-color-bg-second-btn-modal: #1B1D21;
  --ynfm-background-popover: #000000;
  --ynfm-color-bg-formitemwrapper: #1B1D21;
  --ynfm-color-text-loading: #B6B6B6;
  --ynfm-color-border-inner-stepper: #121518;
  --ynfm-color-border-left-button-stepper: #121518;
  --ynfm-color-border-right-button-stepper: #121518;
  --ynfm-color-border-stepper: #121518;
  --ynfm-color-border-stepper-actived: #121518;
  --ynfm-color-icon-formitemwrapper: #666666;
  --ynfm-color-border-second-btn-modal: #3B3C3F;
  --ynfm-color-text-secondbt-modal: #DEDEDE;
  --ynfm-color-bg-list: #1B1D21;
  --ynfm-color-icon-rate: #3B3C3F;
  --ynfm-color-icon-left-list: #DEDEDE;
  --ynfm-color-text-progressbar: #DEDEDE;
  --ynfm-color-icon-right-list: #666666;
  --ynfm-color-text-content-list-disabled: #868686;
  --ynfm-color-text-describe-input: #868686;
  --ynfm-color-icon-dropdown: #94A3B8;
  --ynfm-color-bg-notice: #1b1d21;
  --ynfm-color-border-notice: #1b1d21;
  --ynfm-color-icon-textbtn: #DEDEDE;
  --ynfm-color-text-texttag: #DEDEDE;
  --ynfm-color-border-stroke-tag: #DEDEDE;
  --ynfm-color-icon-stroke-tag: #DEDEDE;
  --ynfm-color-text-stroke-tag: #DEDEDE;
  --ynfm-color-icon-clear-stroke-tag: #DEDEDE;
  --ynfm-color-text-stamp-tag: #DEDEDE;
  --ynfm-color-icon-stamp-tag: #DEDEDE;
  --ynfm-color-cursor-input: #007AFF;
  --ynfm-color-cursor-searchbar: #007AFF;
  --ynfm-color-cursor-textarea: #007AFF;
  --ynfm-color-bg-track-progressbar-finished: #007aff;
  --ynfm-color-text-unfold-ellipsis: #007AFF;
  --ynfm-color-bg-cell-pickerview-selected: #1b1d21;
  --ynfm-color-bg-pickerview: #1b1d21;
  --ynfm-color-border-dot-slider: #3B3C3F;
  --ynfm-color-bg-line-slider: #3B3C3F;
  --ynfm-color-bg-handle-slider: #FFFFFF;
  --ynfm-color-bg-dot-slider: #1b1d21;
  --ynfm-color-bg-handle-switch: #FFFFFF;
  --ynfm-color-bg-switch-closed: #3B3C3F;
  --ynfm-color-text-fill-btn: #FFFFFF;
  --ynfm-color-text-stroke-btn: #DEDEDE;
  --ynfm-color-bg-stroke-btn: #1B1D21;
  --ynfm-color-bg-panel-calendar: #1b1d21;
  --ynfm-color-bg-input: #1B1D21;
  --ynfm-color-bg-textarea: #1B1D21;
  --ynfm-color-bg-panel-dark-popover: #94A3B8;
  --ynfm-color-text-menu-popover: #dedede;
  --ynfm-color-border-menu-popover: #666666;
  --ynfm-color-icon-menu-popover: #FFFFFF;
  --ynfm-color-border-menu-dark-popover: #868686;
  --ynfm-color-text-menu-dark-popover: #3B3C3F;
  --ynfm-color-border-divider-menu-dark-popover: #737373;
  --ynfm-color-text-inverse-menu-dasrk-popover: #171717;
  --ynfm-color-icon-inverse-menu-dark-popover: #171717;
  --ynfm-color-border-stroke-btn: #3B3C3F;
  --ynfm-color-bg-center-popup: #1B1D21;
  --ynfm-color-bg-popup: #1B1D21;
  --ynfm-background-popover: #3B3C3F;
  --ynfm-color-text-cell-pickerview-selected: #DEDEDE;
  --ynfm-color-text-cell-pickerview: #DEDEDE;
  --ynfm-color-text-second-btn-modal: #DEDEDE;
  --ynfm-color-bg-group-selector: #121518;
  --ynfm-color-text-group-selector: #DEDEDE;
  --ynfm-color-text-content-modal: #DEDEDE;
  --ynfm-color-bg-searchbar: #1B1D21;
  --ynfm-color-bg-input-searchbar: #121518;
  --ynfm-color-bg-btn-dialog: #1B1D21;
  --ynfm-color-text-title-picker: #DEDEDE;
  --ynfm-color-text-group-selector-selected: #FFE7E8;
  --ynfm-color-bg-mask-top-pickerview: linear-gradient(0deg,
      rgba(27, 29, 33, 0.3) 0%,
      rgba(27, 29, 33, 0.5) 50%,
      rgba(27, 29, 33, 0.8));
  --ynfm-color-bg-mask-bottom-pickerview: linear-gradient(0deg,
      rgba(27, 29, 33, 0.3) 0%,
      rgba(27, 29, 33, 0.5) 50%,
      rgba(27, 29, 33, 0.8));
  --mui-slider-tick-mask: rgba(0, 0, 0, .4);
  --ynfm-color-bg-group-selector-selected: #5F0003;
  --ynfm-color-bg-panel-popover: #3b3c3f;
  --ynfm-color-icon-suffixicon-searchbar: #94A3B8;
  --ynfm-color-icon-group-selector-selected: #FFE7E8;
  --ynfm-color-bg-fill-tag: #DEDEDE1A;
  --ynfm-color-icon-clear-fill-tag: #DEDEDE;
  --ynfm-color-icon-fill-tag: #DEDEDE;
  --ynfm-color-text-fill-tag: #DEDEDE;
  --ynfm-color-bg-danger-tag: #DB0B001A;
  --ynfm-color-bg-invalid-tag: #94A3B81A;
  --ynfm-color-bg-info-tag: #007AFF1A;
  --ynfm-color-bg-start-tag: #0EA5E91A;
  --ynfm-color-bg-success-tag: #299E461A;
  --ynfm-color-bg-warning-tag: #CC77001A;
  --ynfm-color-text-danger-tag: #DB0B00;
  --ynfm-color-text-invalid-tag: #94A3B8;
  --ynfm-color-text-info-tag: #007AFF;
  --ynfm-color-bg-notice-alert: #FFDFB3;
  --ynfm-color-bg-notice-error: #FFCFCC;
  --ynfm-color-bg-notice-info: #B8DAFF;
  --ynfm-color-bg-notice-success: #BEEECA;
  --ynfm-color-border-notice-alert: #FFDFB3;
  --ynfm-color-border-notice-error: #FFCFCC;
  --ynfm-color-border-notice-info: #B8DAFF;
  --ynfm-color-border-notice-success: #BEEECA;
  --ynfm-color-icon-notice: #94A3B8;
  --ynfm-color-icon-notice-alert: #CC7700;
  --ynfm-color-icon-notice-error: #DB0B00;
  --ynfm-color-icon-notice-info: #007AFF;
  --ynfm-color-icon-notice-success: #299E46;
  --ynfm-color-text-notice-alert: #CC7700;
  --ynfm-color-text-notice-error: #DB0B00;
  --ynfm-color-text-notice-info: #007AFF;
  --ynfm-color-text-notice-success: #299E46;
  --ynfm-color-text-start-tag: #0EA5E9;
  --ynfm-color-text-success-tag: #299E46;
  --ynfm-color-text-warning-tag: #CC7700;
  --ynfm-color-bg-primary-tag: #5F0003;
  --ynfm-color-text-primary-tag: #FFE7E8;
  --ynfm-color-text-compulsory-formitemwrapper: #DB0B00;
  --ynfm-color-text-verification-formitemwrapper: #DB0B00;
  --ynfm-color-bg-verification-formitemwrapper: #F50C001A;
  --ynfm-color-bg-bubble-indexbar: #212225;
  --ynfm-color-border-bubble-indexbar: #3B3C3F;
  --ynfm-color-text-bubble-indexbar: #DEDEDE;
  --ynfm-color-text-indexbar: #B6B6B6;
  --ynfm-color-text-indexbar-selected: #FFFFFF;
  --ynfm-color-text-title-indexbar: #B6B6B6;
  --ynfm-color-bg-track-progresscircle: #3B3C3F;
  --ynfm-color-bg-track-progresscircle-finished: #007AFF;
  --ynfm-color-text-notice: #94a3b8;
  --ynfm-color-icon-bg-switch-closed: #868686;
  --ynfm-color-text-inner-switch-closed: #868686;
  --ynfm-color-bg-card: #1B1D21;
  --ynfm-color-divider-title-card: #212225;
  --ynfm-color-text-content-card: #DEDEDE;
  --ynfm-color-text-title-card: #DEDEDE;
  --ynfm-color-bg-input-searchbar-focused: #121518;
  --ynfm-color-text-tab-disabled: #868686;
  --ynfm-color-text-tab: #868686;
  --ynfm-color-text-dangerbtn-dialog: #DB0B00;
  --ynfm-color-bg-form-disabled: #1B1D21;
  --ynfm-color-bg-verification-form: #F50C001A;
  --ynfm-color-icon-form: #666666;
  --ynfm-color-text-compulsory-form: #DB0B00;
  --ynfm-color-text-discribe-form: #868686;
  --ynfm-color-text-title-form: #B6B6B6;
  --ynfm-color-text-title-form-disabled: #B6B6B6;
  --ynfm-color-text-title-form-readonly: #B6B6B6;
  --ynfm-color-text-verification-form: #DB0B00;
  --ynfm-color-bg-title-calendarpickerview: #121518;
  --ynfm-color-text-title-calendarpickerview: #DEDEDE;
  --ynfm-color-icon-functionicon: #94A3B8;
  --ynfm-color-text-link: #007AFF;
  --ynfm-color-bg-sidetabbar: #121518;
  --ynfm-color-bg-sidetabbar-selected: #212225;
}