.form-required-switch {
    text-align: right;
    padding-bottom: 0.15rem;

    span {
        font-size: 0.28rem;
        color: var(--mui-color-weak);
    }

    .mui-switch {
        margin-right: 0.32rem;
        margin-left: 0.14rem
    }
}

.demo6-accordion {
    .mui-accordion-panel-content-inner {
        .mui-list-item-content {
            padding-right: unset;
        }

        .mui-list-item-content-main {
            padding-bottom: unset;
        }
    }

    .demo6-form-1 .mui-form-item-list-wrapper .mui-list-item {
        padding-left: 0;

        .mui-list-item-content {
            padding-right: 0.4rem;
        }
    }

    .sub-title {
        color: var(--mui-color-title-text);
        font-size: 0.26rem;
        padding-left: 0.16rem;
    }
}

.demo7-form {
    .more {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.6rem;
        background-color: var(--mui-color-background);
        color: var(--mui-color-text-secondary);
        user-select: none;

        svg {
            color: var(--mui-color-weak);
        }
    }
    .mui-input-box {
        resize: none;
    }
}