.form-demo {

    .mui-radio-control.mui-radio-control-list-wrapper .mui-radio-control-items {
        justify-content: flex-start;
    }

    .mui-radio-control-icon-right {
        color: #BFBFBF;
    }

    .mui-accordion-panel-content-inner .mui-form {
        padding-left: 0.32rem;
    }

    .demo1-form .mui-form-item-vertical {
        --mui-input-size-height-input: 0.46rem;
    }

    .demo-form-no-mark {
        --border-inner: none;

        .mui-form-item-label {
            font-weight: 400;
            font-size: 0.28rem;
            line-height: 0.42rem;
        }

        .mui-list-item-content-main {
            .mui-input-box {
                font-weight: 400;
                font-size: 0.28rem;
                color: var(--mui-color-title-text);
                line-height: 0.42rem;
            }

            .mui-text-area {
                font-weight: 400;
                font-size: 0.28rem;
                color: var(--mui-color-title-text);
                line-height: 0.42rem;
                margin: 0.1rem 0;
            }
        }

        .mui-list-item-content-prefix {
            padding-top: 0.11rem !important;
            padding-bottom: 0.11rem !important;
        }
    }

    .space-vertical {
        .mui-form-item-child-inner {
            display: flex;
            flex-direction: column;
        }

        .mui-form-item-label {
            margin-top: 0.12rem;
            margin-bottom: 0 !important;
        }

        .mui-checkbox {
            background-color: var(--mui-color-background);
            padding: 0.21rem 0;
        }

        .mui-checkbox-checked {
            background-color: #F6F6F6;
        }

        .mui-checkbox-disabled {
            background-color: var(--mui-color-background);
        }

        .mui-list-item-content-main {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    .space-vertical-no-bg {
        .mui-checkbox-checked {
            background-color: unset;
        }

        .mui-list-item-content-prefix {
            padding-top: 0.1rem !important;
            padding-bottom: 0.1rem !important;
        }
    }

    .demo-form-header-h .mui-list-header {
        font-size: 0.28rem;
    }


    .demo4-form .mui-radio-content {
        width: 1.22rem;
    }

    .demo5-form {
        .mui-form-list-operation {
            .mui-list-item-content-main {
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                height: 0.72rem;
                padding-top: 0.14rem;
                padding-bottom: 0.14rem;
            }
        }

        .demo5-add-span {
            color: #555;
            line-height: 0.4rem;
            font-size: 0.26rem;
            margin-left: 0.02rem;
        }

        .demo5-add-span-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mui-list-header {
            --padding-right: 0;
        }

    }
}