@import (reference)  '../../theme/index.less';

.@{autocenter-prefix-cls} {
  display: flex;
  justify-content: center;
  &-content {
    flex: 0 0 auto;
    font-size: 0.28rem;
    color: #DEDEDE;
    width: 100%;
  }
}
