.search {
  padding: 0 12px 12px;
  display: flex;
  .mui-search-input-area {
    margin: 0;
  }
}
.location {
    display: flex;
    align-items: center;
    width: 16%;
}
.avatar {
  --size: 32px;
  --border-radius: 50%;
}

.item {
  text-align: center;
  font-size: 14px;
}

.map {
  border: 0;
  width: calc(100vw + 800px);
  height: calc(100vh + 800px);
  position: fixed;
  z-index: 0;
  left: -400px;
  top: -400px;
}
