#offsetTop-indexbar {
    margin: unset;
    padding-top: 0.28rem;
    padding-bottom: 0.28rem;
}

.indexbar-demo-list {
    .mui-list-body {
        border-radius: 0.24rem;
    }

}

.mui-index-bar-body .mui-index-bar-anchor {
     &:last-child .indexbar-demo-list .mui-list-body {
        border-radius: 0.24rem 0.24rem 0 0;
    }
}
