@import (reference) '../../../theme/index.less';
.@{pull-to-refresh-prefix-cls} {
  &-head {
    overflow: hidden;
    position: relative;
    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 0.24rem;
      color: #888888;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
