@import (reference) '../../../../theme/index.less';
// 分页器
.@{table-prefix-cls}-basic-pagination{
  &.@{table-prefix-cls} {
    &-pagination {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-button-icon{
        width: 0.36rem;
        height: 0.36rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #F6F6F6;
      }
    }
  }
}
