.popup-demo {
    .mui-button {
        margin-bottom: 0.24rem;
    }
    .last-button {
        margin-bottom: unset;
    }

}
.popup-demo-color {
    .mui-popup-body {
        color: var(--mui-color-title-text);
    }
}